# Membentuk kolom bertipe datetime

In [12]:
import pandas as pd

In [13]:
data = {
    "day":[1,2,3,7,11,12],
    "month":[1,3,6,7,9,11],
    "year":[1995,1998,1999,2003,2022,2023]
}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  1995
1    2      3  1998
2    3      6  1999
3    7      7  2003
4   11      9  2022
5   12     11  2023

In [14]:
df['tanggal'] = pd.to_datetime(df[['day','month','year']])
df

   day  month  year    tanggal
0    1      1  1995 1995-01-01
1    2      3  1998 1998-03-02
2    3      6  1999 1999-06-03
3    7      7  2003 2003-07-07
4   11      9  2022 2022-09-11
5   12     11  2023 2023-11-12

In [15]:
df.dtypes

day                 int64
month               int64
year                int64
tanggal    datetime64[ns]
dtype: object