# Menghapus missing values pada Data Frame

# Import Modules

In [22]:
import pandas as pd
import numpy as np

# Buat Data Frame

In [23]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  xxs3iia9of  0.004327  0.369993  0.207288 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035  0.980699 -0.053247
2  MznWWww5wv -0.169925 -0.087305 -0.906339  0.813347
3  VEKZJxHjiQ -1.219738  0.256948  0.158104 -1.561943
4  nyMB77ngA9  0.566459 -0.230487       NaN  1.003619

In [24]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  xxs3iia9of  0.004327  0.369993  0.207288 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035  0.980699 -0.053247
2  MznWWww5wv -0.169925 -0.087305 -0.906339  0.813347
3  VEKZJxHjiQ -1.219738  0.256948  0.158104 -1.561943
4  nyMB77ngA9  0.566459 -0.230487       NaN  1.003619

In [25]:
df_backup = df.copy(deep=True)

# Menghapus Missing Values (Columns )

In [26]:
df = df.dropna(axis='columns')
df.head()

            Z
0  xxs3iia9of
1  LxX2JjaGIJ
2  MznWWww5wv
3  VEKZJxHjiQ
4  nyMB77ngA9

# Menghapus Missing Values (Rows)

In [27]:
df = df_backup.copy(deep=True)
df.head()

            Z         A         B         C         D
0  xxs3iia9of  0.004327  0.369993  0.207288 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035  0.980699 -0.053247
2  MznWWww5wv -0.169925 -0.087305 -0.906339  0.813347
3  VEKZJxHjiQ -1.219738  0.256948  0.158104 -1.561943
4  nyMB77ngA9  0.566459 -0.230487       NaN  1.003619

In [28]:
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  xxs3iia9of  0.004327  0.369993  0.207288 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035  0.980699 -0.053247
2  MznWWww5wv -0.169925 -0.087305 -0.906339  0.813347
3  VEKZJxHjiQ -1.219738  0.256948  0.158104 -1.561943
5  tQ0JsT1UZI -0.652410  1.498653  0.088537  0.396585

# Melihat Presentase Missing Values

In [29]:
df = df_backup.copy(deep=True)
df.head()

            Z         A         B         C         D
0  xxs3iia9of  0.004327  0.369993  0.207288 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035  0.980699 -0.053247
2  MznWWww5wv -0.169925 -0.087305 -0.906339  0.813347
3  VEKZJxHjiQ -1.219738  0.256948  0.158104 -1.561943
4  nyMB77ngA9  0.566459 -0.230487       NaN  1.003619

In [30]:
df.isna().mean()

Z    0.000000
A    0.066667
B    0.100000
C    0.200000
D    0.033333
dtype: float64

# Mengahpus Missing Values Berdasarkan Threshold

In [31]:
thresh = len(df) * 0.9
df = df.dropna(thresh=thresh,axis='columns')
df.head()

            Z         A         B         D
0  xxs3iia9of  0.004327  0.369993 -1.438370
1  LxX2JjaGIJ  1.395118  1.683035 -0.053247
2  MznWWww5wv -0.169925 -0.087305  0.813347
3  VEKZJxHjiQ -1.219738  0.256948 -1.561943
4  nyMB77ngA9  0.566459 -0.230487  1.003619