# Membagi Data Frame menjadi dua secara acak

# Import Modules

In [1]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=columns)
df

    A   B   C   D   E
0  17  10   5   2  15
1   9   4  12   5   7
2   5   4   2  11  18
3  17   6   1   7  11
4   7   9   4   5  14
5  19   1   4  11   5
6   8   9  14   9   2
7  15   1   1  14   2
8  11   9  14  10  15
9  14   1   2  15  18

In [3]:
df.shape

(10, 5)

In [4]:
proporsi = 0.7

df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f"df_1 shape = {df_1.shape}")
print(f"df_1 shape = {df_2.shape}")

df_1 shape = (7, 5)
df_1 shape = (3, 5)

In [5]:
df_1

    A   B   C   D   E
0  17  10   5   2  15
5  19   1   4  11   5
6   8   9  14   9   2
1   9   4  12   5   7
9  14   1   2  15  18
2   5   4   2  11  18
8  11   9  14  10  15

In [6]:
df_2

    A  B  C   D   E
3  17  6  1   7  11
4   7  9  4   5  14
7  15  1  1  14   2