#  Memeriksa kesamaan antar kolom Memeriksa kesamaan antar kolom

# Import Modules

In [5]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [6]:
data = {
    "A":[1,np.nan,2,3,np.nan],
    "B":[1,np.nan,2,3,np.nan],
}

df = pd.DataFrame(data)
df

     A    B
0  1.0  1.0
1  NaN  NaN
2  2.0  2.0
3  3.0  3.0
4  NaN  NaN

# Mengenal Pandas series

In [7]:
df['A']

0    1.0
1    NaN
2    2.0
3    3.0
4    NaN
Name: A, dtype: float64

In [8]:
type(df['A'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

# Memerika Kesamaan Dengan Kolom ==

In [10]:
df['A'] == df['B']

0     True
1    False
2     True
3     True
4    False
dtype: bool

# Memerika Kesamaan Dengan Method equals()

In [11]:
df['A'].equals(df['B'])

True

# Memerika Kesamaan Antar Dua Data Frame

In [12]:
df1 = df.copy(deep=True)
df1

     A    B
0  1.0  1.0
1  NaN  NaN
2  2.0  2.0
3  3.0  3.0
4  NaN  NaN

In [13]:
df.equals(df1)

True

In [14]:
df1.equals(df)

True

In [15]:
df == df1

       A      B
0   True   True
1  False  False
2   True   True
3   True   True
4  False  False

In [16]:
df1 == df

       A      B
0   True   True
1  False  False
2   True   True
3   True   True
4  False  False