#  Menghapus missing values pada Data Frame

# Import Module

In [9]:
import pandas as pd

# Membuat Data Frame

In [10]:
df = pd.util.testing.makeMissingDataframe().reset_index()

df.head()

        index         A         B         C         D
0  isyruPorOW -0.809053  2.026164 -0.746400 -0.529680
1  bBv4vYAPQs -0.003965 -0.965229  1.377203 -0.372358
2  NLrpY0iCoB -0.978018  0.202147  0.278328       NaN
3  PXOVlQi71y -0.781771 -0.143853 -0.561158 -0.232520
4  CgIz9SrxmH -0.363906  2.248375  1.609304 -1.873679

In [11]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  isyruPorOW -0.809053  2.026164 -0.746400 -0.529680
1  bBv4vYAPQs -0.003965 -0.965229  1.377203 -0.372358
2  NLrpY0iCoB -0.978018  0.202147  0.278328       NaN
3  PXOVlQi71y -0.781771 -0.143853 -0.561158 -0.232520
4  CgIz9SrxmH -0.363906  2.248375  1.609304 -1.873679

In [12]:
df_backup = df.copy(deep=True)

In [13]:
df = df.dropna(axis='columns')
df.head()

            Z
0  isyruPorOW
1  bBv4vYAPQs
2  NLrpY0iCoB
3  PXOVlQi71y
4  CgIz9SrxmH

In [14]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  isyruPorOW -0.809053  2.026164 -0.746400 -0.529680
1  bBv4vYAPQs -0.003965 -0.965229  1.377203 -0.372358
3  PXOVlQi71y -0.781771 -0.143853 -0.561158 -0.232520
4  CgIz9SrxmH -0.363906  2.248375  1.609304 -1.873679
5  0zcehjqWZm -0.568621  0.419782 -0.217914 -0.868946

In [15]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.166667
B    0.100000
C    0.100000
D    0.033333
dtype: float64

In [16]:
threshold = len(df) * 0.9
df = df.dropna(thresh=threshold,axis="columns")
df.head()

            Z         B         C         D
0  isyruPorOW  2.026164 -0.746400 -0.529680
1  bBv4vYAPQs -0.965229  1.377203 -0.372358
2  NLrpY0iCoB  0.202147  0.278328       NaN
3  PXOVlQi71y -0.143853 -0.561158 -0.232520
4  CgIz9SrxmH  2.248375  1.609304 -1.873679