# Cara Advance Membuat Array

# Import Module

In [2]:
import numpy as np

In [6]:
a = np.array([[1,2,3,4,5],[6,7,8,9,10]],dtype=float)
a

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

In [7]:
a.dtype

dtype('float64')

# Membuat Array Menggunakan Function

In [11]:
def kuadrat(baris,kolom):
    return kolom**2

In [12]:
def jumlah(baris,kolom):
    return baris + kolom

In [10]:
b = np.fromfunction(kuadrat,(2,10),dtype=float)
b

array([[ 0.,  1.,  4.,  9., 16., 25., 36., 49., 64., 81.],
       [ 0.,  1.,  4.,  9., 16., 25., 36., 49., 64., 81.]])

In [13]:
c = np.fromfunction(jumlah,(5,4),dtype=int)
c

array([[0, 1, 2, 3],
       [1, 2, 3, 4],
       [2, 3, 4, 5],
       [3, 4, 5, 6],
       [4, 5, 6, 7]])

# Membuat Array Ato Matrix Menggunakan Iterable

In [14]:
iterable = [i*i for i in range(5)]

In [17]:
d = np.fromiter(iterable,dtype=float)
d

array([ 0.,  1.,  4.,  9., 16.])