# Konversi nilai numerik ke dalam kategori pada Data Frame

# Import Module

In [2]:
import pandas as pd
import numpy as np

# Membuat Data Frame

In [3]:
n_rows = 10
n_cols = 1
columns = ('usia',)

df = pd.DataFrame(np.random.randint(1,99,size=(n_rows,n_cols)),columns=columns)
df

   usia
0    63
1    67
2    84
3    65
4    85
5    92
6    94
7    18
8     6
9    12

In [6]:
df['kelompok_usia'] = pd.cut(df['usia'],bins = [0,18,65,99],labels = ['anak','dewasa','manula'])
df

   usia kelompok_usia
0    63        dewasa
1    67        manula
2    84        manula
3    65        dewasa
4    85        manula
5    92        manula
6    94        manula
7    18          anak
8     6          anak
9    12          anak