# Membagi Data Frame menjadi dua secara acak

# Import Modules

In [9]:
import numpy as np
import pandas as pd

# NgeBuat Data Frame

In [10]:
n_rows = 10
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=columns)
df

    A   B   C   D   E
0   1   1  10   8   5
1   5  13  18  12  10
2   2   3   2   3  19
3  13   8  14   3  19
4   5  19  10  13  17
5   1   4  11  14  18
6   4   1  13   4  16
7   9  10  19   1   9
8   3   9  12  16  13
9   3   4   2   7   8

# NgeBagi Data Frame Menjadi Dua Secara Acak Berdasarkan Proporsi Tertentu

In [11]:
df.shape

(10, 5)

In [12]:
proporsi = 0.7

df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f"df1 shape: {df_1.shape}")
print(f"df2 shape: {df_2.shape}")

df1 shape: (7, 5)
df2 shape: (3, 5)

In [13]:
df_1

    A   B   C   D   E
6   4   1  13   4  16
3  13   8  14   3  19
1   5  13  18  12  10
8   3   9  12  16  13
4   5  19  10  13  17
5   1   4  11  14  18
7   9  10  19   1   9

In [14]:
df_2

   A  B   C  D   E
0  1  1  10  8   5
2  2  3   2  3  19
9  3  4   2  7   8