# Mengurutkan data kolom pada Data Frame

# Import Modules

In [1]:
import pandas as pd
import numpy as np