# Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame

# Import Module

In [1]:
import pandas as pd
import numpy as np

# Membuat Data Frame

In [3]:
n_rows = 5
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=columns)
df

   A  B  C  D  E
0  5  1  6  5  9
1  1  7  1  7  9
2  8  2  7  8  5
3  6  7  6  9  3
4  4  5  9  7  3