# Seleksi kolom dan baris pada Data Frame menggunakan loc

# Import Module

In [1]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=columns)
df

    A   B   C   D   E
0   3   5  19  19   2
1   4  16  18   7  11
2   6  19  16  18   3
3  19   4  15  11  12
4  17  19   5  16   3
5  13   3  13   7   5
6   4   8  12   6   3
7  11   4  13  12   7
8   5   1   2  15  14
9   1   9   1   3  13

# Seleksi Kolom Dan Baris Menggunakan Loc

In [3]:
df.loc[[0,3,4],['B','E']]

    B   E
0   5   2
3   4  12
4  19   3

# Seleksi Baris Dengan Kondisi

In [6]:
df.loc[df['A']>10,['A','C','E']]

    A   C   E
3  19  15  12
4  17   5   3
5  13  13   5
7  11  13   7

# Slicing Data Frame Menggunakan Loc

In [7]:
df.loc[0:4,'B':'D']

    B   C   D
0   5  19  19
1  16  18   7
2  19  16  18
3   4  15  11
4  19   5  16